<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
				 id="WebApp_ID" version="2.5">

	<!-- Register the HttpServlet implementation -->
	<servlet>
	  <servlet-name>Test_2Servlet</servlet-name>
	  <servlet-class>Test_2.service.Servlet</servlet-class>
	  <load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
	  <servlet-name>Test_2Servlet</servlet-name>
	  <url-pattern>/odata/*</url-pattern>
	</servlet-mapping>
	
   <listener>
    <listener-class>Test_2.service.Listener</listener-class>
  </listener>
  
  <welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

  <!-- define the filter for delete excess headers-->
  <filter>
    <filter-name>mutableHttpFilter</filter-name>
    <filter-class>Test_2.service.MutableHttpFilter</filter-class>
  </filter>
  <!-- map the filter to a URL pattern -->
  <filter-mapping>
    <filter-name>mutableHttpFilter</filter-name>
    <url-pattern>/odata/*</url-pattern>
  </filter-mapping>
</web-app>